/* .createpost {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.createpost_main {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} */
