* {
	margin: 0%;
	padding: 0%;
}
.login {
	position: sticky;
	right: 0%;
	top: 0%;
	z-index: 100;
}
.login-navbar {
	display: flex;
	justify-content: space-between;
	background: #fff;
	color: #131313;
}

.nav-buttons {
	color: rgb(142, 231, 231);
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
}
login-btn {
	color: #8ee7e7;
	text-decoration: none;
}
a:focus {
	color: #fff;
}
